<% if @alarm.valid? %>
  <% active = @alarm.has_day?(weekday) %>

  var toggleButton = $('<button class="btn btn-xs <%= @alarm.enabled? ? 'btn-success' : 'btn-default' %>"><%= @alarm.enabled ? 'ON' : 'OFF' %></button>');
  var deleteButton = $('<button class="btn btn-xs btn-danger">DELETE</button>');

    // TODO: Add callbacks for different buttons
  var newAlarm = $('<tr id="alarm<%= @alarm.id %>"></tr>');
  $('<td><%= @alarm.name %></td>').after(newAlarm);
  $('<td><%= @alarm.time.localtime.hour.to_s %>:<%= @alarm.time.localtime.min.to_s %></td>').after(newAlarm);

  var tmp = '<td><div class="btn-group" data-toggle="buttons" id=<%= @alarm.id %>>';
  <% Alarm.weekdays.each do |weekday| %>
    tmp += '<label class="btn btn-xs btn-default <%= 'active' if active %>"><%= weekday.capitalize%>';
  <% end %>
  tmp += '</div></td>';



//  var newAlarm = "<tr id=\"alarm_<%= @alarm.id %>\">\n" +
//      "              <td><%= @alarm.name %></td>\n" +
//      "              <td><%= "#{@alarm.time.localtime.hour}:#{@alarm.time.localtime.min}" %></td>\n" +
//      "              <td>\n" +
//      "                <div class=\"btn-group\" data-toggle=\"buttons\" id=\"<%= @alarm.id %>\">\n" +
//      "                  <% Alarm.weekdays.each do |weekday| %>\n" +
//      "                      \n" +
//      "                      <label class=\"btn btn-xs btn-default <%= 'active' if active %>\">\n" +
//      "                        <%= weekday.capitalize %>\n" +
//      "                        <input type=\"checkbox\" autocomplete=\"off\" <%= 'checked' if active %> />\n" +
//      "                      </label>\n" +
//      "                  <% end %>\n" +
//      "                </div>\n" +
//      "              </td>\n" +
//      "              <td>\n" +
//      "                <button class=\"btn btn-xs <%= @alarm.enabled ? 'btn-success' : 'btn-default'%>\"><%= @alarm.enabled ? 'ON' : 'OFF'%></button>\n" +
//      "              </td>\n" +
//      "              <td>\n" +
//      "                <button class=\"btn btn-xs btn-danger\">DELETE</button>\n" +
//      "              </td>\n" +
//      "            </tr>";
$('#alarm_table').append($(newAlarm));
  console.log(newAlarm);
  appendAlarm(newAlarm);
  $('#new_alarm_name').val('');
  $('.new_alarm_day_checkbox').each(function(){
      $(this).removeClass('active');
  });
<% else %>
  // TODO: Some form handling or something
<% end %>

UnobtrusiveFlash.showFlashFromCookies();