<div class="container">
  <div class="jumbotron">
    <h1>Alarm Clock</h1>
    <p class="lead">This is a simple application to help my wife and I get up in the morning. If you would
      like to see the source code, click <a href="https://github.com/cincospenguinos/AlarmClockApp" target="_blank">here</a>.</p>
  </div>
</div>

<!--Modify/Remove Alarms-->
<div class="container" id="alarm_space">
  <h2>Alarms</h2>
  <div id="list_alert_space">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Alarm Name</th>
          <th>Time</th>
          <th>Days</th>
          <th>Toggle</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody id="alarm_table">
          <% @alarms.each do |alarm| %>
            <tr id="alarm_<%= alarm.id%>">
              <td><%= alarm.name %></td>
              <td><%= "#{alarm.time.localtime.hour}:#{alarm.time.localtime.min}"%></td>
              <td>
                <div class="btn-group" data-toggle="buttons" id="<%= alarm.id %>">
                  <% Alarm.weekdays.each do |weekday| %>
                      <% active = alarm.has_day?(weekday) %>
                      <label class="btn btn-xs btn-default <%= 'active' if active %>">
                        <%= weekday.capitalize %>
                        <input type="checkbox" autocomplete="off" <%= 'checked' if active %> />
                      </label>
                  <% end %>
                </div>
              </td>
              <td>
                <button class="btn btn-xs <%= alarm.enabled ? 'btn-success' : 'btn-default'%>"><%= alarm.enabled ? 'ON' : 'OFF'%></button>
              </td>
              <td>
                <button class="btn btn-xs btn-danger">DELETE</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- TODO: form_for alarm -->
<div class="container">
  <h3>Add Alarm</h3>
  <div class="row">
    <%= render 'alarm/form' %>
  </div>
</div>
